@media screen and (min-width: 425px) {
	.grid-menu-buttons{
		flex-flow: row;
	}

	.grid-menu-buttons button{
		margin-left: 10px;
	}




.btn-portfolio{
	padding: 20px 25px;
}

	.grid-sizer,
	.grid-item {
  	width: 50%;
	}
}

@media screen and (min-width: 780px) {


#menuMobile{
	display: none;
}

	.mini-logo-container{
  width: 75px;
}
	.btn-portfolio{
  font-size: 1rem;
  width: 100%;
  padding: 15px 0;
  
}

	.grid {
		background: white;
		width: 95%;
	}

  #menu, .toggle-button {
    display: none!important;
  }

  .grid-container {
	  grid-template-areas: 
	    'header header'
	    'menu main '
			'footer footer ';
			
			grid-template-columns: 15% 85%;
	}

	.grid-menu{
		display: block;
	}

	.grid-header{
		align-items: center;
    	padding: 10px 5%;
	}

	.menuDesktop{
		display: flex;
	}

	.grid-menu-buttons{
		display: flex;
    align-items: center;
		flex-direction: column;
		position: sticky;
		top: 40vh;
	}
	#panel{
    	transform: translateX(0px)!important;
    }


    @-webkit-keyframes fadeInUpSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

}